.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
padding-right: 15px;
 max-width: 1670px;
outline: solid red;
}

header {
    background-color: black;
}

.header-logo {
    color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Roboto;
font-size: 23.961px;
font-style: normal;
font-weight: 900;
line-height: 80.5%; /* 19.288px */
letter-spacing: 0.315px;
text-transform: uppercase;
}
 .header-link {
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
 }

 .hero-title {
    color: #FFF;

/* H1 */
font-family: Roboto;
font-size: 120px;
font-style: normal;
font-weight: 900;
line-height: 130px; /* 108.333% */
text-transform: uppercase;
 }
 .hero {
    background-image: url(../images/hero-backround.jpg);
 }
 .hero-button{
    color: rgba(255, 255, 255, 0.80);
text-align: center;
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 30px */
 }
 .hero-number{
    color: #DD2242;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: uppercase;
 }
 .hero-name{
    color: #FFF;

/* H4 */
font-family: DM Sans;
font-size: 26.409px;
font-style: normal;
font-weight: 700;
line-height: 41.081px; /* 155.556% */
 }
.hero-text{
    color: #939393;
font-feature-settings: 'clig' off, 'liga' off;

/* Paragraph Light */
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.5px;
}
.articles {
    background: linear-gradient(180deg, #010A20 0%, rgba(1, 10, 32, 0.00) 100%);
}
.article-name {
    color: var(--white, #FFF);
font-feature-settings: 'clig' off, 'liga' off;

/* H3 */
font-family: DM Sans;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 119.048% */
}
.article-text {
    color: var(--text-lighten, #E0E0E0);

/* Paragraph */
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.18px;
}
.article-button {
    color: var(--neutral-white, #FFF);
text-align: center;

/* CTA */
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 27px */
}
.explore {
    background-image: url(../images/island2.jpg);
}
.explore-title {
    color: var(--blue-background, #010A20);
text-align: center;
font-family: DM Sans;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 75px */
}
.numbers {
    background-color: #010A20;
}
.numbers-title {
    color: #FFF;
text-align: center;
font-family: DM Sans;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 90px */
}
.numbers-text {
    color: var(--text-lighten, #E0E0E0);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;

/* Paragraph Light */
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.5px;
}
.numbers-statistic {
    color: #DD2242;
text-align: center;
font-family: DM Sans;
font-size: 42.137px;
font-style: normal;
font-weight: 700;
line-height: 49.16px; /* 116.667% */
letter-spacing: 0.386px;
}
.numbers-info {
    color: var(--text-lighten, #E0E0E0);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;

/* Paragraph Light */
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.5px;
}
.hills {
    background-image: url(../images/hill1.png ),url(../images/hill2.png);
    background-position: left right;
}
.hills-title {
    color: #000;
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;

/* H3 */
font-family: DM Sans;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 119.048% */
}
.hills-text {
    color: var(--paragraph-dark, #6F7787);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;

/* Paragraph Light */
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.5px;
}
.hills-btn {
    color: var(--neutral-white, #FFF);
text-align: center;

/* CTA */
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 27px */
}
.gallery {
    background-image: url(../images/palm2.jpg);
}
.gallery-title {
    color: var(--colors-white, #FFF);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;

/* H3 */
font-family: DM Sans;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 119.048% */
}
.gallery-name {
    color: var(--colors-white, #FFF);

/* CTA */
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 27px */
}
.gallery-info {
    color: var(--colors-white, #FFF);
font-feature-settings: 'clig' off, 'liga' off;

/* Paragraph Light */
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.5px;
}
.photo-title {
    color: var(--blue-background, #010A20);
text-align: center;

/* H2 */
font-family: DM Sans;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 90px */
}
.photo-text {
    color: var(--paragraph-dark, #6F7787);
text-align: center;

/* Paragraph */
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.18px;
}
.navigation {
    background-color: #DCE8F2;
}
.navigation-title {
    color: #010A20;

/* H2 */
font-family: DM Sans;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 90px */
}
.navigation-name {
    color: var(--blue-background, #010A20);

/* H4 */
font-family: DM Sans;
font-size: 26.409px;
font-style: normal;
font-weight: 700;
line-height: 41.081px; /* 155.556% */
}
.navigation-text {
    color: var(--light-text, rgba(21, 20, 57, 0.40));
font-family: DM Sans;
font-size: 23.475px;
font-style: normal;
font-weight: 400;
line-height: 38.146px; /* 162.5% */
}
.navigation-subtitle {
    color: var(--blue-background, #010A20);

/* H4 */
font-family: DM Sans;
font-size: 26.409px;
font-style: normal;
font-weight: 700;
line-height: 41.081px; /* 155.556% */
}
.navigation-info{
    color: var(--light-text, rgba(21, 20, 57, 0.40));
font-family: DM Sans;
font-size: 23.475px;
font-style: normal;
font-weight: 400;
line-height: 38.146px; /* 162.5% */
}
.navigation-button {
    color: var(--neutral-white, #FFF);
text-align: center;

/* CTA */
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 27px */
}
.footer-subtitle {
    color: #DD2242;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Roboto;
font-size: 23.961px;
font-style: normal;
font-weight: 900;
line-height: 90.5%; /* 21.684px */
letter-spacing: 0.315px;
text-transform: uppercase;
}
.footer-text {
    color: var(--main-white, #FFF);
font-feature-settings: 'clig' off, 'liga' off;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 155.556% */
letter-spacing: 0.5px;
}
.footer {
    background-color: var(--blue-background, #010A20);
}
.footer-copyraid {
    color: var(--main-white, #FFF);
font-feature-settings: 'clig' off, 'liga' off;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 155.556% */
letter-spacing: 0.5px;
}